table {
  text-indent: 0;
  /* 1 */
  border-color: grey;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
  /* 1 */
  border-bottom-width: 2px;
  /* 2 */
  border-bottom-color: currentColor;
  /* 2 */
  border-bottom-style: solid;
  /* 2 */
}

td {
  border-top-width: 1px;
  /* 1 */
  border-top-color: currentColor;
  /* 1 */
  border-top-style: solid;
  /* 1 */
  width: 220px;
}


.zoneEnbutCAL {
  background-color: #6c6d39;
}

.zoneDegagement {
  background-color: #6c6d34;
}

.zoneNeutre {
  background-color: #6f8824;
}

.zoneConstruction {
  background-color: #2d886f;
}

.zoneMarque {
  background-color: #388c3c;
}

.zoneEnbutAdverse {
  background-color: #52c058;
}

.zoneVideo {
  background-color: #52c058;
  margin-bottom: 10px;
}

.titrezone {
  font-weight: bold;
  text-align: center;
  color: white;
}


.image-container {
  position: relative;
  width: 100%;
  /* largeur de l'image */
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  /* largeur maximale */
  width: 100%;
  /* occupe toute la largeur disponible jusqu'à 1200px */
  margin: 0 auto;
  /* centrer le contenu */

}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

/* Position des 4 boutons */
.zoneEnbutAdverse {
  top: 0%;
  height: 82px;
}

.zoneMarque {
  top: 13%;
  height: 106px;
}

.zoneConstruction {
  top: 29%;
  height: 93px;
}

.zoneNeutre {
  top: 43%;
  height: 98px;
}

.zoneDegagement {
  top: 58%;
  height: 200px;
}

.zoneEnbutCAL {
  top: 88%;
  height: 50px;
}

/* Style commun à toutes les zones */
.zone-btn {
  width: 100%;

  position: absolute;
  opacity: 0.3;
  /* Transparence initiale */
  background-color: rgba(0, 128, 255, 0.3);
  /* Couleur semi-transparente */
  border: 2px solid transparent;
  /* Bordure invisible par défaut */
  color: #ff0202;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Animation fluide */

}

/* Effet lors du clic */
.zone-btn:active {
  opacity: 0.7;
  /* Encore plus visible */
  border-color: #ffcc00;
  /* Bordure jaune pour feedback */
  transform: scale(1.05);
  /* Zoom léger pour indiquer le clic */
}

/* Effet au survol */
.zone-btn:hover {
  opacity: 0.5;
  /* Augmente la visibilité */
  border-color: #fff;
  /* Bordure blanche visible */
}