
table {
  text-indent: 0;
  /* 1 */
  border-color: grey;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
  margin-left: auto;
  margin-right: auto;
}
th {
  font-weight: bold;
  text-align: left;
  /* 1 */
  border-bottom-width: 2px;
  /* 2 */
  border-bottom-color: currentColor;
  /* 2 */
  border-bottom-style: solid;
  /* 2 */
}
td {
  border-top-width: 1px;
  /* 1 */
  border-top-color: currentColor;
  /* 1 */
  border-top-style: solid;
  /* 1 */
  width: 220px;
}
.zoneDegagement{
  background-color: #6c6d34;
}
.zoneNeutre{
  background-color: #6f8824;
}
.zoneConstruction{
  background-color: #2d886f;
}
.zoneMarque{
  background-color: #388c3c;
}
.titrezone{
  font-weight: bold;
  text-align: center;
  color: white;
}


.image-container {
            position: relative;
            width: 500px; /* largeur de l'image */
        }

        .image-container img {
            display: block;
            width: 100%;
            height: auto;
        }

        .zone-btn {
            position: absolute;
            width: 100%;
            height: 25%; /* 4 zones = 25% chacune */
            left: 0;
            background-color: rgba(0, 0, 255, 0.2); /* couleur semi-transparente */
            border: none;
            cursor: pointer;
            font-size: 18px;
            color: white;
        }

        /* Position des 4 boutons */
        .btn1 { top: 0; background-color: rgba(255, 0, 0, 0.3); }
        .btn2 { top: 25%; background-color: rgba(0, 255, 0, 0.3); }
        .btn3 { top: 50%; background-color: rgba(0, 0, 255, 0.3); }
        .btn4 { top: 75%; background-color: rgba(255, 255, 0, 0.3); }
