
table {
  text-indent: 0;
  /* 1 */
  border-color: grey;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
th {
  font-weight: bold;
  text-align: left;
  /* 1 */
  border-bottom-width: 2px;
  /* 2 */
  border-bottom-color: currentColor;
  /* 2 */
  border-bottom-style: solid;
  /* 2 */
}
td {
  border-top-width: 1px;
  /* 1 */
  border-top-color: currentColor;
  /* 1 */
  border-top-style: solid;
  /* 1 */
  width: 220px;
}


.zoneEnbutCAL{
  background-color: #6c6d39;
}
.zoneDegagement{
  background-color: #6c6d34;
}
.zoneNeutre{
  background-color: #6f8824;
}
.zoneConstruction{
  background-color: #2d886f;
}
.zoneMarque{
  background-color: #388c3c;
}
.zoneEnbutAdverse{
  background-color: #52c058;
}

.zoneVideo{
  background-color: #52c058;
  margin-bottom: 10px;
}

.titrezone{
  font-weight: bold;
  text-align: center;
  color: white;
}


.image-container {
            position: relative;
            width: 100%; /* largeur de l'image */
              margin-left: auto;
  margin-right: auto;
        }

        .image-container img {
            display: block;
            width: 100%;
            height: auto;
        }

        .zone-btn {
            position: absolute;
            width: 100%;
            height: 25%; /* 4 zones = 25% chacune */
            left: 0;
            background-color: rgba(0, 0, 255, 0.2); /* couleur semi-transparente */
            border: none;
            cursor: pointer;
            font-size: 18px;
            color: white;
        }

        /* Position des 4 boutons */
        .zoneEnbutAdverse { top: 0%; height: 55px; background-color: rgba(5, 204, 5, 0.15); }     
        .zoneMarque { top: 13%; height: 67px; background-color: rgba(5, 204, 5, 0.3); }
        .zoneConstruction { top: 29%; height: 60px; background-color: rgba(5, 204, 5, 0.45); }
        .zoneNeutre { top: 43%; height: 63px; background-color: rgba(5, 204, 5, 0.5); }
        .zoneDegagement { top: 58%; height: 127px; background-color: rgba(5, 204, 5, 0.45); }
        .zoneEnbutCAL { top: 88%; height: 50px; background-color: rgba(5, 204, 5, 0.2); }
